#gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    margin: 20px;
    text-align: center;
}

.like-button {
    /*adiciona um espaço entre o botão e a imagem*/
    margin-top: 10px;
    cursor: pointer;
}

img {
    max-width: 50%;
    /*alinha a imagem ao centro*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#pageTitle {
    font-size: 3em;
    text-align: center;
    font-family: 'Josefin Slab', sans-serif;
    font-weight: 400;
    color: #4e4e4e;
}

